*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sec-one {
    display: flex;
    background-image: url("/images/banner.jpeg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px;
    width: 100%;
    padding-right: 90px;
}

header {
    margin-top: 500px;
    display: flex;
    margin-left: 70px;
    justify-content: space-evenly;
}

.about {
    color: white;
    margin-top: 20px;
    font-size: 0.7cm;
    margin-right: 100px;
    font-family: 'Yellowtail', cursive;
}

.text {
    border: 1px solid white;
    padding: 20px;
    background-color: white;
    display: block;
    width: 40%;
    margin-right: 300px;
    margin-bottom: 60px;
}

#sec-two {
    background-color: rgb(202, 149, 157);
    color: white;
    display: block;
    padding: 50px;
}

span {
    font-size: 1.5cm;
}

.p-one {
    font-size: 0.9cm;
    line-height: 55px;
    font-family: 'Yellowtail', cursive;
}

.p-two {
    width: 50%;
    margin-top: 30px;
    font-size: 0.5cm;
}

#flex-one {
    display: flex;
}

#flex-two {
    display: flex;
}

img {
    width: 33.3%;
    height: 540px;
}

#sec-four {
    text-align: center;
    line-height: 56px;
    background-color: rgb(202, 149, 157);
    color: white;
    padding: 50px;
}

h1 {
    font-size: 1.2cm;
}

#input {
    border: 1px solid rgb(202, 149, 157);
    border-radius: 16px;
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 12px 10px 12px;
    border-radius: 16px;
    font-size: 11px;
}

#sec-five {
    padding: 50px;
}

#slim {
    text-align: justify;
    width: 40%;
    margin-top: 110px;
    line-height: 28px;
    margin-left: 30px;
}

#ig {
    width: 30%;
    height: 440px;
}

#sign {
    color: rgb(202, 149, 157);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-flex {
    display: flex;
    justify-content: space-evenly;
}

#sec-six {
    text-align: center;
    padding: 60px 130px 60px 130px;
    background-color: rgb(202, 149, 157);
    color: white;
}

#spring {
    width: 23%;
    height: 340px;
}

#sec-seven {
    padding: 90px 210px 90px 210px;
}

.tex {
    width: 30%;
    line-height: 60px;
    margin-top: 30px;
}

.thin {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
    font-weight: 1;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.eight {
    display: flex;
}

#sec-eight {}

#sp {
    width: 160%;
}

#sub {
    display: block;
    margin-left: 400px;
    line-height: 89px;
    text-align: center;
}

.border {
    border: 2px solid rgb(202, 149, 157);
    width: 150%;
}

#sub p {
    line-height: 20px;
}

.white {
    color: black;
}

h1 {
    font-family: 'Yellowtail', cursive;
}

input {
    padding: 8px;
}